#navbar {
  background-color: $primary;
  border-bottom: 1px dashed $gray-900;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    img {
      height: 42px;
    }
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($black, 10%);
    }
  }
  .navbar-avatar {
    margin: -10px 10px -10px 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: solid 2px $white;
    border-radius: 50%;
    box-shadow: 0 0 2px $gray-200;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $gray-900;
        @include heading-font;
        &.active,
        &:hover {
          color: $black;
        }
      }
    }
  }
  .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0 0 4px 4px;
    box-shadow:  0 .5em .5em $gray-300;
  }
}

@media(min-width: 992px) {
  #navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
    .navbar-brand img {
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $white;
      border-bottom: 0;
      box-shadow: 0 0 .5em $gray-300;
      .navbar-brand {
        img {
          height: 32px;
        }
      }
    }
  }
  #systemMessages {
    top: 100%;
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 1em;
  }
}

